@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates); 
* {
    
    font-family: 'Montserrat Alternates', sans-serif;
}

.mainwindow{
    position:relative;
}

.mainform{
    position: absolute;
    margin-top: 280px;
    margin-left: 710px;
    width: 500px;
    height: 240px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    flex-wrap: wrap;
}

.weniv_logo{
    margin: 30px 181px 28px 181px;
    width:138px;
    height: 40px;
}
.mainform p{
    margin-left: 116px;
    margin-bottom: 32px;
    width: 269px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
}
.login .mainform_login{
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 60px;
    background: #2f80ed;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

/* login.html */

.login_page{
    position:relative;
}
.login{
    position: absolute;
    margin-top: 100px;
    margin-left: 710px;
    width: 520px;
    height: 712px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
}
.login_or_regi{
    display:inline-block;
    width:144px;
    height:20px;
    margin: 20px 188px 18px 188px;
}
.login_or_regi::after{
    position: absolute;
    margin-left: 148px;;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(./LCH_LION_img/close.png);
    background-size: 16px;
}
.welcom_message{
    width: 380px;
    height: 24px;
    margin-top: 26px;
    margin-left: 24px;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 24px;
}
.welcom_message::before{
    position: absolute;
    margin-bottom: 26px;
    left:0;
    top:58px;
    content: '';
    width: 520px;
    height: 1px;
    background: #c4c4c4;
}
.login_check{
    position:relative;
    width:141px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #767676;
    margin-left: 58px;
}
input[type="checkbox"]{
    display: none;
}
input[id="login_checkbox"] + label{
    display: inline-block;
    position: absolute;
    margin-left: 28px;
    width: 22px;
    height: 22px;
    border: 1px solid #767676;
    box-sizing: border-box;
    border-radius: 100%;
    background-image: url(./LCH_LION_img/icon_check_empty.png);
    background-repeat: no-repeat;
    background-position: center;
}
input[id="login_checkbox"]:checked + label{
    content: '';
    border: none;
    background: #2f80ed;
    background-image: url(./LCH_LION_img/icon_check.png);
    background-repeat: no-repeat;
    background-position: center;
}
.login_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 472px;
    height: 50px;
    background: #2f80ed;
    color: white;
    border: none;
    margin-top: 20px;
    margin-left: 24px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
.login_regi{
    display: inline-block;
    margin-left: 158px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}
.login_regi::after{
    position: absolute;
    content: '|';
    width:4px;
    height:18px;
    margin: 0 12px;
    color: #767676;
}
.login_search{
    margin-left: 28px;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}
.login_or{
    width:26px;
    height:18px;
    margin-top: 30px;
    font-size: 14px;
    margin-left: 247px;
    margin-bottom: 20px;
    color: #767676;
    display: flex;
    align-items: center;

}
.login_or::before{
    content: '';
    width: 210px;
    height: 1px;
    background: #c4c4c4;
    position:absolute;
    left:24px;
}
.login_or::after{
    content: '';
    width: 210px;
    height: 1px;
    background: #c4c4c4;
    position:absolute;
    right:24px;
}
.login_link{
    display:flex;
    width:472px;
    height: 50px;
    align-items: center;
    margin-left: 24px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #767676;
    
}
.login_link img{
    width: 28px;
    height: 28px;
    margin-right: 138px;
    margin-left: 12px;
}
.google_login{
    border: 1px solid #767676;
    border-radius: 5px;
}
.facebook_login{
    border: 1px solid #2f80ed;
    border-radius: 5px;
}
.naver_login{
    border: 1px solid #00bf18;
    border-radius: 5px;
}
.kakao_login{
    border: 1px solid #f2c94c;
    border-radius: 5px;
}